  .header-bar {
  background: #ffffff;;
  height:60px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 999;
  }
  
  .wy-nav-content {
  background: #ffffff;;
  }
  
  .wy-nav-content-wrap
  {
  background:#ffffff;
  }
  
  .wy-nav-side,.wy-side-nav-search,.wy-nav-top {
  background:#00b4dc;
  }
  
  @media screen and (max-width: 768px) {
  .header-bar {
  display:none;
  }
  }