  .wy-nav-content {
  background: #ffffff;;
  }
  
  .wy-nav-content-wrap
  {
  background:#ffffff;
  }
  
  .wy-nav-side,.wy-side-nav-search,.wy-nav-top {
  background:#00b4dc;
  }
  
  @media screen and (max-width: 768px) {
  .header-bar {
  display:none;
  }
  }